// @use "react-widgets/styles.scss" with (
//     $components: (
//         "Listbox",
//         "DropdownList",
//         "Combobox",
//         "Multiselect",
//         // 'DatePicker',
//         // 'Calendar',
//         // 'TimeInput',
//         "NumberPicker",
//     )
// );

body {
    background: var(--tg-theme-secondary-bg-color, white);
    padding: 0;
    margin: 0;
}
